[client]
# Default is Latin1, if you need UTF-8 set this (also in server section)
default-character-set = utf8
[mysqld]
general_log=1
general_log_file=/var/log/mysql/general-query.log
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,TRADITIONAL #
max_connections=20
#[mariadb]
server-id=1
binlog_format = row
log-bin = /var/log/mysql/bin-log
log-error = /var/log/mysql/error.log
slow_query_log_file   = /var/log/mysql/slow-queries.log
default_storage_engine = MyISAM
binlog-ignore-db = mysql